Technical Analysis

In [23]:
import os
import pandas as pd
import numpy as np
import talib as ta
from pathlib import Path
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import datetime as dt
import hvplot.pandas
%matplotlib inline

In [24]:
tickers = ["AAPL", "MSFT", "AMZN", "FB", "TSLA"]
#START = "today"
#YEARS = 5 Minutes?

Securities Data

In [25]:
load_dotenv()

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

# Format current date as ISO format
today = pd.Timestamp("2020-12-31", tz="America/New_York").isoformat()

# Set timeframe to one day ('1D') for the Alpaca API
timeframe = "1D"
start = pd.Timestamp("2020-01-14", tz="America/New_York").isoformat()
end = pd.Timestamp("2021-01-14", tz="America/New_York").isoformat()

df_portfolio = alpaca.get_barset(
    tickers,
    timeframe,
    start = start,
    end = end
).df

df_portfolio.index = df_portfolio.index.date
df_portfolio = df_portfolio.dropna()
df_portfolio

                AAPL                                            AMZN  \
                open      high      low     close    volume     open
2020-08-24  514.7900  515.1400  495.745  503.7900  81260572  3310.15
2020-08-25  498.7900  500.7172  492.210  499.3100  49337045  3294.99
2020-08-26  504.7165  507.9700  500.330  506.1900  37949023  3351.11
2020-08-27  508.5700  509.9400  495.330  500.0400  36378278  3450.05
2020-08-28  504.0500  505.7700  498.310  498.8300  38207206  3423.00
...              ...       ...      ...       ...       ...      ...
2021-01-08  132.4300  132.6300  130.230  131.9900  93211863  3180.00
2021-01-11  129.1900  130.1700  128.500  128.9800  84845947  3148.01
2021-01-12  128.5000  129.6900  126.860  128.8199  83381829  3120.00
2021-01-13  128.7600  131.4500  128.490  130.8900  77928722  3128.44
2021-01-14  130.8000  131.0000  128.760  128.9200  78672922  3167.52

                                                    ...    MSFT           \
                 high        low    close   volume  ...    open     high
2020-08-24  3380.3150  3257.5608  3307.45  4293678  ...  214.79  215.520
2020-08-25  3357.4000  3267.0000  3346.05  3781529  ...  213.10  216.610
2020-08-26  3451.7388  3344.5674  3442.06  6420990  ...  217.88  222.090
2020-08-27  3453.0000  3378.0000  3400.70  3948873  ...  222.89  231.150
2020-08-28  3433.3699  3386.5000  3401.80  2555139  ...  228.18  230.644
...               ...        ...      ...      ...  ...     ...      ...
2021-01-08  3190.6400  3142.2000  3182.70  3261271  ...  218.68  220.580
2021-01-11  3156.3840  3110.0000  3115.75  3263070  ...  218.47  218.910
2021-01-12  3142.1418  3086.0000  3120.88  3009716  ...  216.50  217.100
2021-01-13  3189.9500  3122.0800  3166.24  2985766  ...  214.02  216.760
2021-01-14  3178.0000  3120.5900  3129.32  2668943  ...  215.91  217.460

                                              TSLA                      \
                 low     close    volume      open     high        low
2020-08-24  212.4300  213.7100  21225637  2126.275  2129.00  1927.5200
2020-08-25  213.1000  216.4564  19095068  1974.890  2027.95  1968.0000
2020-08-26  217.3600  221.1500  32650657  2060.000  2166.00  2053.6292
2020-08-27  219.4000  226.5700  53708988  2180.460  2295.60  2142.5000
2020-08-28  226.5800  228.9400  22496097  2295.120  2318.49  2186.5200
...              ...       ...       ...       ...      ...        ...
2021-01-08  217.0261  219.5500  18248721   856.000   884.49   838.3900
2021-01-11  216.7300  217.5000  15604905   849.400   854.43   803.6222
2021-01-12  213.3202  214.9300  20628633   831.000   868.00   827.3400
2021-01-13  213.9266  216.4100  16242982   852.760   860.47   832.0000
2021-01-14  212.7400  213.0200  22710694   843.390   863.00   838.7500


               close    volume
2020-08-24  2015.695  19295383
2020-08-25  2024.090  10051608
2020-08-26  2151.930  13768358
2020-08-27  2239.760  23059123
2020-08-28  2213.520  19360294
...              ...       ...
2021-01-08   880.030  71814487
2021-01-11   811.180  55755718
2021-01-12   849.220  43550554
2021-01-13   854.420  31050197
2021-01-14   844.210  29982086

[100 rows x 25 columns]

In [29]:
# Create an empty DataFrame for each ticker
df_aapl = pd.DataFrame()
df_msf = pd.DataFrame()
df_amzn = pd.DataFrame()
df_fb = pd.DataFrame()
df_tsla = pd.DataFrame()

# Fetch the prices for each ticker
df_aapl = df_portfolio["AAPL"]
df_msft = df_portfolio["MSFT"]
df_amzn = df_portfolio['AMZN']
df_fb = df_portfolio["FB"]
df_tsla = df_portfolio["TSLA"]

df_aapl

                open      high      low     close    volume
2020-08-24  514.7900  515.1400  495.745  503.7900  81260572
2020-08-25  498.7900  500.7172  492.210  499.3100  49337045
2020-08-26  504.7165  507.9700  500.330  506.1900  37949023
2020-08-27  508.5700  509.9400  495.330  500.0400  36378278
2020-08-28  504.0500  505.7700  498.310  498.8300  38207206
...              ...       ...      ...       ...       ...
2021-01-08  132.4300  132.6300  130.230  131.9900  93211863
2021-01-11  129.1900  130.1700  128.500  128.9800  84845947
2021-01-12  128.5000  129.6900  126.860  128.8199  83381829
2021-01-13  128.7600  131.4500  128.490  130.8900  77928722
2021-01-14  130.8000  131.0000  128.760  128.9200  78672922

[100 rows x 5 columns]

In [30]:
df_msft

              open     high       low     close    volume
2020-08-24  214.79  215.520  212.4300  213.7100  21225637
2020-08-25  213.10  216.610  213.1000  216.4564  19095068
2020-08-26  217.88  222.090  217.3600  221.1500  32650657
2020-08-27  222.89  231.150  219.4000  226.5700  53708988
2020-08-28  228.18  230.644  226.5800  228.9400  22496097
...            ...      ...       ...       ...       ...
2021-01-08  218.68  220.580  217.0261  219.5500  18248721
2021-01-11  218.47  218.910  216.7300  217.5000  15604905
2021-01-12  216.50  217.100  213.3202  214.9300  20628633
2021-01-13  214.02  216.760  213.9266  216.4100  16242982
2021-01-14  215.91  217.460  212.7400  213.0200  22710694

[100 rows x 5 columns]

In [31]:
df_amzn

               open       high        low    close   volume
2020-08-24  3310.15  3380.3150  3257.5608  3307.45  4293678
2020-08-25  3294.99  3357.4000  3267.0000  3346.05  3781529
2020-08-26  3351.11  3451.7388  3344.5674  3442.06  6420990
2020-08-27  3450.05  3453.0000  3378.0000  3400.70  3948873
2020-08-28  3423.00  3433.3699  3386.5000  3401.80  2555139
...             ...        ...        ...      ...      ...
2021-01-08  3180.00  3190.6400  3142.2000  3182.70  3261271
2021-01-11  3148.01  3156.3840  3110.0000  3115.75  3263070
2021-01-12  3120.00  3142.1418  3086.0000  3120.88  3009716
2021-01-13  3128.44  3189.9500  3122.0800  3166.24  2985766
2021-01-14  3167.52  3178.0000  3120.5900  3129.32  2668943

[100 rows x 5 columns]

In [32]:
df_fb

              open      high       low   close    volume
2020-08-24  271.07  277.2478  268.7701  271.43  22664349
2020-08-25  272.41  283.0900  270.2601  280.82  39797963
2020-08-26  284.00  304.6700  284.0000  303.91  65404754
2020-08-27  300.16  301.2300  292.0200  293.17  28654463
2020-08-28  295.00  297.2300  290.9800  293.67  15612909
...            ...       ...       ...     ...       ...
2021-01-08  268.31  268.9500  263.1800  267.54  16730340
2021-01-11  260.48  263.4700  255.9000  256.81  27236030
2021-01-12  256.63  259.7200  250.3000  250.91  24074761
2021-01-13  251.55  253.9500  249.2000  251.64  16896303
2021-01-14  253.40  255.0300  244.6100  245.71  27927382

[100 rows x 5 columns]

In [33]:
df_tsla

                open     high        low     close    volume
2020-08-24  2126.275  2129.00  1927.5200  2015.695  19295383
2020-08-25  1974.890  2027.95  1968.0000  2024.090  10051608
2020-08-26  2060.000  2166.00  2053.6292  2151.930  13768358
2020-08-27  2180.460  2295.60  2142.5000  2239.760  23059123
2020-08-28  2295.120  2318.49  2186.5200  2213.520  19360294
...              ...      ...        ...       ...       ...
2021-01-08   856.000   884.49   838.3900   880.030  71814487
2021-01-11   849.400   854.43   803.6222   811.180  55755718
2021-01-12   831.000   868.00   827.3400   849.220  43550554
2021-01-13   852.760   860.47   832.0000   854.420  31050197
2021-01-14   843.390   863.00   838.7500   844.210  29982086

[100 rows x 5 columns]

Tech Analysis

In [34]:
def applyTA (input_df):
    """
        Add columns of technical analysis in the dataframe
        Parameter:
            input_df - dataframe with date index and columns of OHLCV data
        Returns:
            df_ta - dataframe with date index and technical analysis signals
    """
    
    df = input_df.copy()
    
    # Construct EMA Singals
    df['8D_EMA'] = ta.EMA(df['close'], timeperiod = 8)
    df['21D_EMA'] = ta.EMA(df['close'], timeperiod = 21)
    df['50D_EMA'] = ta.EMA(df['close'], timeperiod = 50)
    df['8_21_x_long'] = np.where(df['8D_EMA'] > df['21D_EMA'], 1.0, 0.0)
    df['8_21_x_short'] = np.where(df['8D_EMA'] < df['21D_EMA'], -1.0, 0.0)
    df['8_21_x_signal'] = df['8_21_x_long'] + df['8_21_x_short'] 
    df['21_50_x_long'] = np.where(df['21D_EMA'] > df['50D_EMA'], 1.0, 0.0)
    df['21_50_x_short'] = np.where(df['21D_EMA'] < df['50D_EMA'], -1.0, 0.0)
    df['21_50_x_signal'] = df['21_50_x_long'] + df['21_50_x_short']
    df['above_8D'] = np.where(df['close'] > df['8D_EMA'], 1.0, 0.0)
    df['above_21D'] = np.where(df['close'] > df['21D_EMA'], 1.0, 0.0)
    df['above_50D'] = np.where(df['close'] > df['50D_EMA'], 1.0, 0.0)
    
    # Bollinger Bands
    df['bb_upper_band'], df['bb_middle_band'], df['bb_lower_band'] = ta.BBANDS(df['close'], timeperiod =20)
    df['bb_long'] = np.where(df['close'] < df['bb_lower_band'], 1.0, 0.0)
    df['bb_short'] = np.where(df['close'] > df['bb_upper_band'], -1.0, 0.0)
    df['bb_signal'] = df['bb_long'] + df['bb_short']
    
    # Calculate RSI
    df['RSI'] = ta.RSI(df['close'],14)
    df['rsi_short'] = np.where(df['RSI'] > 70, -1.0, 0.0)
    df['rsi_long'] = np.where(df['RSI'] < 30, 1.0, 0.0)
    df['rsi_signal'] = df['rsi_long'] + df['rsi_short']
    
    # Calculate Stochastic Oscillators trading signal
    df['slowk'], df['slowd'] = ta.STOCH(df['high'], df['low'], df['close'], fastk_period=5, slowk_period=3, slowk_matype=0, slowd_period=3, slowd_matype=0)   
    df['slowk_x_long'] = np.where(df['slowk'] > df['slowd'], 1.0, 0.0)
    df['slowk_x_short'] = np.where(df['slowk'] < df['slowd'], -1.0, 0.0)
    df['slowk_x_signal'] = df['slowk_x_long'] + df['slowk_x_short']
    
     # Calculate ADX
    df['adx'] = ta.ADX(df['high'], df['low'], df['close'], timeperiod=14)
    df['adx_strong'] = np.where(df['adx'] > 50, 1.0, 0.0)
    df['adx_weak'] = np.where(df['adx'] < 20, 1.0, 0.0)

    # Calculate OBV signal
    df['obv'] = ta.OBV(df['close'], df['volume'])
    df['obv_change']=df['obv'].pct_change()
    df['obv_increase'] = np.where(df['obv_change'] > 0, 1.0, 0.0)

    # Calculate Chaikin A/D Oscillator signal
    df['ADOSC'] = ta.ADOSC(df['high'], df['low'], df['close'], df['volume'], fastperiod=3, slowperiod=10)    
    df['adosc_positive'] = np.where(df['ADOSC'] > 0, 1.0, 0.0)

    # Drop non-TA signals columns and NAs
    df_ta = df[{'8_21_x_signal', '21_50_x_signal', 'above_8D', 'above_21D', 'above_50D', 'bb_signal', 'rsi_signal', 'slowk_x_signal', 'adx_strong', 'adx_weak', 'obv_increase', 'adosc_positive'}]
    df_ta = df_ta.dropna()
    
    return df_ta

In [35]:
applyTA(df_aapl)

,slowk_x_signal,8_21_x_signal,adx_strong,rsi_signal,above_50D,above_8D,adx_weak,21_50_x_signal,adosc_positive,bb_signal,above_21D,obv_increase
2020-08-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-08-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-08-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-08-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-08-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-08,1.0,1.0,0.0,0.0,1.0,1.0,1.0,-1.0,0.0,0.0,1.0,0.0
2021-01-11,1.0,1.0,0.0,0.0,0.0,0.0,1.0,-1.0,0.0,0.0,1.0,1.0
2021-01-12,1.0,1.0,0.0,0.0,0.0,0.0,1.0,-1.0,0.0,0.0,0.0,1.0
2021-01-13,-1.0,1.0,0.0,0.0,1.0,1.0,1.0,-1.0,0.0,0.0,1.0,0.0
2021-01-14,-1.0,1.0,0.0,0.0,0.0,0.0,1.0,-1.0,0.0,0.0,0.0,1.0

In [36]:
applyTA(df_msft)

,slowk_x_signal,8_21_x_signal,adx_strong,rsi_signal,above_50D,above_8D,adx_weak,21_50_x_signal,adosc_positive,bb_signal,above_21D,obv_increase
2020-08-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-08-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-08-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-08-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-08-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-08,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0
2021-01-11,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2021-01-12,1.0,-1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2021-01-13,-1.0,-1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0
2021-01-14,-1.0,-1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [37]:
applyTA(df_amzn)

,slowk_x_signal,8_21_x_signal,adx_strong,rsi_signal,above_50D,above_8D,adx_weak,21_50_x_signal,adosc_positive,bb_signal,above_21D,obv_increase
2020-08-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-08-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-08-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-08-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-08-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-08,1.0,-1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
2021-01-11,1.0,-1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2021-01-12,1.0,-1.0,0.0,0.0,0.0,0.0,1.0,-1.0,0.0,0.0,0.0,1.0
2021-01-13,1.0,-1.0,0.0,0.0,0.0,1.0,1.0,-1.0,0.0,0.0,0.0,1.0
2021-01-14,1.0,-1.0,0.0,0.0,0.0,0.0,1.0,-1.0,0.0,0.0,0.0,0.0

Candlesticks

In [38]:
def get_workday(date):
    """ Convert Date to its latest workday
        Parameter:
            date - Any format usagle with pd.to_datetime
        Return:
            timestamp object of the nearest workday earlier than the given date
    """
    date = pd.to_datetime(date) ##today?##
    offset = max(1, (date.weekday() + 6) % 7 - 3)
    timedelta = dt.timedelta(offset)
    return pd.Timestamp((date - timedelta).date(),tz="America/New_York").isoformat()

def get_alpaca_data():
    """ 
        This probably comes from the Screener
    """
    # Set Keys for Alpaca Trade API
    alpaca_api_key = os.getenv("ALPACA_API_KEY")
    alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
    
    # Initiate REST API
    api = tradeapi.REST(
        alpaca_api_key,
        alpaca_secret_key,
        api_version = "v2"
    )
    
    # Set start and end date
    end_date = get_workday(START)
    two_yrs = dt.timedelta(days=(365*YEARS))
    start_date = get_workday((pd.to_datetime("today") - two_yrs).date())
    # Set timeframe to '1D' for Alpaca API
    timeframe = "1D"
    # Get OHLCV Data
    portfolio = api.get_barset(
        TICKERS,
        timeframe,
        start = start_date,
        end = end_date
    ).df
    
    return portfolio

In [40]:
def applyCDL (input_df):
    """
        Add columns of candlestick patterns found in the dataframe
        Parameter:
            input_df - dataframe with date index and columns of OHLCV data
        Returns:
            df - the same dataframe received with additional columns of the candlestick patterns found
    """
    
    df = input_df.copy()
    # Bullish
    df["CDLHAMMER"] =  ta.CDLHAMMER(df["open"], df["high"], df["low"], df["close"])/100
    df["CDLINVERTEDHAMMER "] =  ta.CDLINVERTEDHAMMER(df["open"], df["high"], df["low"], df["close"])/100
    df["CDLPIERCING"] =  ta.CDLPIERCING(df["open"], df["high"], df["low"], df["close"])/100
    df["CDLMORNINGSTAR"] =  ta.CDLMORNINGSTAR(df["open"], df["high"], df["low"], df["close"], penetration = 0)/100
    df["CDL3WHITESOLDIERS"] =  ta.CDL3WHITESOLDIERS(df["open"], df["high"], df["low"], df["close"])/100
    # Bearish
    df["CDLHANGINGMAN"] =  ta.CDLHANGINGMAN(df["open"], df["high"], df["low"], df["close"])/100
    df["CDLSHOOTINGSTAR"] =  ta.CDLSHOOTINGSTAR(df["open"], df["high"], df["low"], df["close"])/100
    df["CDLEVENINGSTAR"] =  ta.CDLEVENINGSTAR(df["open"], df["high"], df["low"], df["close"], penetration = 0)/100
    df["CDL3BLACKCROWS"] =  ta.CDL3BLACKCROWS(df["open"], df["high"], df["low"], df["close"])/100
    df["CDLDARKCLOUDCOVER"] =  ta.CDLDARKCLOUDCOVER(df["open"], df["high"], df["low"], df["close"], penetration = 0)/100
    # Both
    df["CDLENGULFING"] =  ta.CDLENGULFING(df["open"], df["high"], df["low"], df["close"])/100

    return df

In [42]:
applyCDL(df_amzn)

,open,high,low,close,volume,CDLHAMMER,CDLINVERTEDHAMMER,CDLPIERCING,CDLMORNINGSTAR,CDL3WHITESOLDIERS,CDLHANGINGMAN,CDLSHOOTINGSTAR,CDLEVENINGSTAR,CDL3BLACKCROWS,CDLDARKCLOUDCOVER,CDLENGULFING
2020-08-24,3310.15,3380.3150,3257.5608,3307.45,4293678,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-08-25,3294.99,3357.4000,3267.0000,3346.05,3781529,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-08-26,3351.11,3451.7388,3344.5674,3442.06,6420990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-08-27,3450.05,3453.0000,3378.0000,3400.70,3948873,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-08-28,3423.00,3433.3699,3386.5000,3401.80,2555139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-08,3180.00,3190.6400,3142.2000,3182.70,3261271,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-01-11,3148.01,3156.3840,3110.0000,3115.75,3263070,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-01-12,3120.00,3142.1418,3086.0000,3120.88,3009716,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-01-13,3128.44,3189.9500,3122.0800,3166.24,2985766,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-01-14,3167.52,3178.0000,3120.5900,3129.32,2668943,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
##sell order

if portfolio is not None:
    symbol_list - df_sell_final['symbol'].tolist()
    qty_list - df_sell_final['qty'].tolist()
    
    for sumbol, qty in list(zip(symbol_list,qty_list)):
        api.submit_order(
        symbol=symbol,
        qty=qty,
        side= 'sell',
        type= 'market',
        time_in_force='day'
        )

In [ ]:
port_df = get_alpaca_data()


### this needs to be a loop for the 5 tickers pulled from this screener
symbol_df = applyCDL(port_df['aapl'])
###


symbol_df["pct_change"] = aapl_df["close"].pct_change()
symbol_df["Return"] = np.where(aapl_df["pct_change"] >= 0, 1.0, -1.0)
FEATURES = ['CDLHAMMER', 'CDLINVERTEDHAMMER ', 'CDLPIERCING', 'CDLMORNINGSTAR',
            'CDL3WHITESOLDIERS', 'CDLHANGINGMAN', 'CDLSHOOTINGSTAR','CDLEVENINGSTAR', 
            'CDL3BLACKCROWS', 'CDLDARKCLOUDCOVER', 'CDLENGULFING']
symbol_df[FEATURES] = aapl_df[FEATURES].shift(1)
symbol_df.drop(columns = ["open", "high", "low", "close", "volume", "pct_change"], inplace = True)
symbol_df.dropna(inplace = True)
symbol_df.tail()

Buy Order for Crypto

In [ ]:
def buy(self, c, price):

        #we are already in the process of a buy, don't submit another
        if self.boughtIn == True:
            print("Previous buy incomplete.")
            return

        availableCash = self.getCash()
        if availableCash == -1:
            print("Got an exception checking for available cash, canceling buy.")
            return

        print("RobinHood says you have " + str(availableCash) + " in cash")

        if (availableCash > 1.0):
            minPriceIncrement = self.minPriceIncrements[self.coinState[c].name]
            #price needs to be specified to no more precision than listed in minPriceIncrement. Truncate to 7 decimal places to avoid floating point problems way out at the precision limit
            price = round(self.roundDown(price, minPriceIncrement), 7)
            shares = (availableCash - .25)/price
            minShareIncrement = self.minIncrements[self.coinState[c].name]
            shares = round(self.roundDown(shares, minShareIncrement), 8)
            sellAt = price + (price * self.sellAboveBuyPrice)
            print("Buying " + str(shares) + " shares of " + self.coinList[c] + " at " + str(price) + " selling at " + str(round(sellAt, 2)))

            if self.tradesEnabled == True:
                try:
                    buyResult = r.order_buy_crypto_limit(str(self.coinList[c]), shares, price)
                    self.coinState[c].lastBuyOrderID = buyResult['id']
                    self.output(str(buyResult))
                except:
                    print("Got exception trying to buy, cancelling.")
                    return

                msg = "LiveBot: Bought " + str(shares) + " shares of " + self.coinList[c] + " at " + str(price) + " selling at " + str(round(sellAt, 2))
                self.output(msg)
                self.coinState[c].purchasedPrice = price
                self.coinState[c].numHeld = shares
                self.coinState[c].timeBought = str(datetime.datetime.now())
                self.coinState[c].numBought = shares
                self.boughtIn = True

        return