In [1]:
# Importing notebook dependencies
%run twitter_sentiment.ipynb

#imports
import os
import pandas as pd
from datetime import date, timedelta
import alpaca_trade_api as tradeapi

# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/Kris/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

Twitter Authentication Verified

True

In [2]:
#api authentications

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version = "v2")

In [3]:
# function that pulls stock data for every ticker symbol on specified exchange

# scrapes the wikipedia page relating to the S&P 500 and returns a list of DataFrame objects
table = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

# Since we are only interested in the current list of stocks in the S&P 500, we only need the DataFrame object at index 0
sp500_list_df = table[0]
sp500_tickers = sp500_list_df[["Symbol", "Security"]]

sp500_tickers

    Symbol             Security
0      MMM           3M Company
1      ABT  Abbott Laboratories
2     ABBV          AbbVie Inc.
3     ABMD              Abiomed
4      ACN            Accenture
..     ...                  ...
500    YUM      Yum! Brands Inc
501   ZBRA   Zebra Technologies
502    ZBH        Zimmer Biomet
503   ZION        Zions Bancorp
504    ZTS               Zoetis

[505 rows x 2 columns]

In [29]:
sp500_ticker_data = []
sp500_ticker_data = pd.DataFrame(sp500_ticker_data)
x=0

#for tickers in sp500_tickers["Symbol"]:
for tickers in range(len(sp500_tickers)):
    
    # set the current ticker symbol then increases x by 1 
    ticker = sp500_tickers.iloc[[x][0]]
    x+=1
    
    # Set timeframe to 15 Minutes
    timeframe = "15Min"
    
    # Set the limit of bars to just the previous 15-minute time period
    limit = 1

    # Set date to today and end datetimes of 1 day before (if run before market open to fetch yesterdays close)
    end_date = pd.Timestamp.now(tz="America/New_York").isoformat()

    #fetch ticker data and into temp. dataframe
    ticker_data = api.get_barset(
        ticker,
        timeframe = timeframe,
        limit = limit,
        end=end_date
    ).df
    
    #resets the index of the fetched data
    sp500_ticker_data = sp500_ticker_data.append(ticker_data.iloc[0])
    
    #sp500_tickers["open"] = ticker_data[(ticker, 'open')]
    
sp500_ticker_data = pd.DataFrame(sp500_ticker_data)
sp500_ticker_data

Empty DataFrame
Columns: [(3M Company, open), (3M Company, high), (3M Company, low), (3M Company, close), (3M Company, volume), (MMM, open), (MMM, high), (MMM, low), (MMM, close), (MMM, volume), (ABT, close), (ABT, high), (ABT, low), (ABT, open), (ABT, volume), (Abbott Laboratories, close), (Abbott Laboratories, high), (Abbott Laboratories, low), (Abbott Laboratories, open), (Abbott Laboratories, volume), (ABBV, close), (ABBV, high), (ABBV, low), (ABBV, open), (ABBV, volume), (AbbVie Inc., close), (AbbVie Inc., high), (AbbVie Inc., low), (AbbVie Inc., open), (AbbVie Inc., volume), (ABMD, close), (ABMD, high), (ABMD, low), (ABMD, open), (ABMD, volume), (Abiomed, close), (Abiomed, high), (Abiomed, low), (Abiomed, open), (Abiomed, volume), (ACN, close), (ACN, high), (ACN, low), (ACN, open), (ACN, volume), (Accenture, close), (Accenture, high), (Accenture, low), (Accenture, open), (Accenture, volume), (ATVI, close), (ATVI, high), (ATVI, low), (ATVI, open), (ATVI, volume), (Activision Blizzard, close), (Activision Blizzard, high), (Activision Blizzard, low), (Activision Blizzard, open), (Activision Blizzard, volume), (ADBE, close), (ADBE, high), (ADBE, low), (ADBE, open), (ADBE, volume), (Adobe Inc., close), (Adobe Inc., high), (Adobe Inc., low), (Adobe Inc., open), (Adobe Inc., volume), (AMD, close), (AMD, high), (AMD, low), (AMD, open), (AMD, volume), (Advanced Micro Devices, close), (Advanced Micro Devices, high), (Advanced Micro Devices, low), (Advanced Micro Devices, open), (Advanced Micro Devices, volume), (AAP, close), (AAP, high), (AAP, low), (AAP, open), (AAP, volume), (Advance Auto Parts, close), (Advance Auto Parts, high), (Advance Auto Parts, low), (Advance Auto Parts, open), (Advance Auto Parts, volume), (AES, close), (AES, high), (AES, low), (AES, open), (AES, volume), (AES Corp, close), (AES Corp, high), (AES Corp, low), (AES Corp, open), (AES Corp, volume), ...]
Index: []

[0 rows x 5045 columns]

In [26]:
sp500_ticker_data = sp500_ticker_data.reset_index()
sp500_ticker_data["index"] = pd.to_datetime(sp500_ticker_data['index'])
sp500_ticker_data_grouped = sp500_ticker_data.groupby(pd.Grouper(key='index', freq="15Min"))
sp500_ticker_data_grouped

ValueError: cannot insert level_0, already exists

In [28]:
sp500_ticker_data_grouped.head()

,level_0,index,"(3M Company, open)","(3M Company, high)","(3M Company, low)","(3M Company, close)","(3M Company, volume)","(MMM, open)","(MMM, high)","(MMM, low)",...,"(ZTS, close)","(ZTS, high)","(ZTS, low)","(ZTS, open)","(ZTS, volume)","(Zoetis, close)","(Zoetis, high)","(Zoetis, low)","(Zoetis, open)","(Zoetis, volume)"
0,0,2021-02-26 20:45:00+00:00,NaN,NaN,NaN,NaN,NaN,176.11,176.49,175.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2021-02-26 20:45:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2021-02-26 20:45:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2021-02-26 20:45:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,2021-02-26 20:45:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2021-02-26 21:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,2021-02-26 21:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,40,2021-02-26 21:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,64,2021-02-26 21:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,98,2021-02-26 21:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,2021-02-26 21:15:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,2021-02-26 21:15:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,316,2021-02-26 21:15:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,347,2021-02-26 21:15:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,79,2021-02-26 21:30:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,249,2021-02-26 21:30:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,261,2021-02-26 21:30:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,266,2021-02-26 21:30:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,297,2021-02-26 21:30:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,41,2021-02-26 21:45:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,184,2021-02-26 21:45:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,339,2021-02-26 21:45:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,437,2021-02-26 21:45:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,45,2021-02-26 22:15:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,263,2021-02-26 22:15:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,197,2021-02-26 22:45:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
twitter_sentiment = compound_twitter_sentiment(sp500_tickers["Symbol"], sp500_tickers["Security"])
twitter_sentiment

In [ ]:
#fetches indicator scores for ticker symbol

indicator_df = sp500_ticker_data["Symbol", "volume"]

#fetch RSI for oversold 

indicator_df["rsi"] = ticker_rsi["rsi"]
    
#Fetch Trade Volume Index(TVI)
indicator_df["tvi"] = ticker_tvi["tvi"]

#fetch volatility
indicator_df["volatility"] = ticker_rsi["volatility"]

In [211]:
#fetch sentiment score from twitter and reddit
    
#fetch twitter sentiment from previous 1 hour (what is good timeframe to calculate current overall sentiment?)
twitter_sentiment = compound_twitter_sentiment(sp500_list_df["Symbol"], sp500_list_df["Security"])
        
#add twitter_sentiment to indicators_df
indicator_df["twitter_sentiment"] = twitter_sentiment

In [ ]:
#fetch reddit sentiment
        
#add reddit_sentiment to indicators_df

#return indicators_df

In [ ]:
# adds up all indicator column scores and calculates the total_indi_score

# sorts indidcator_df by total_indie_score

# saves top 5 rows["ticker"] into top5_df["tickers"]
    
#return top 5 stock recommendations

#return top5_df

In [ ]:
# SCRATCH PAD #


# sp500_ticker_data loop
    # creates the ticker df on first run of the for loop, and increases x by +1
    # after first loop, this appends the ticker data to the new dataframe
#    if x==0:
#        sp500_ticker_data = pd.DataFrame(ticker_data)
#        x+=1
#    elif x>=1:
#        sp500_ticker_data.append(ticker_data, ignore_index=True)
#        #sp500_ticker_data.loc[ticker] = ticker_data
#    else:
#        pass



    sp500_ticker_data = sp500_ticker_data.append({
            'open': ticker_data['open'],
            'high': ticker_data['high'],
            'low': ticker_data['low'],
            'close': ticker_data['close'],
            'volume': ticker_data['volume']
    })